# Site wide configuration

title: data science ish
locale: en_US
description: A Blog by Julia Silge
logo: blog_logo.png
search: true
url: http://juliasilge.com

# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..2
  use_coderay: false

mathjax: true
comments: true

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "vendor"]


# Site owner
owner:
  name: Julia Silge
  avatar: blog_profile.jpg
  email: julia.silge@gmail.com
  disqus-shortname: datascienceish
  twitter: juliasilge
  facebook: #username
  github: juliasilge
  stackexchange: #http://stackoverflow.com/users/123456/username
  linkedin: juliasilge
  instagram: juliasilge
  flickr: #username
  tumblr: #username
  pinterest: #username
  weibo: #userid
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
