<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.6/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-1.11.1/jquery.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/leaflet-0.7.3/leaflet.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/leaflet-0.7.3/leaflet.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/leafletfix-1.0.0/leafletfix.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/leaflet-binding-1.0.1/leaflet.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/leaflet-providers-1.0.27/leaflet-providers.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/leaflet-providers-plugin-1.0.1/leaflet-providers-plugin.js" | prepend: site.baseurl }}"></script>
