<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.5/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/d3-3.5.3/d3.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/colorbrewer-1/colorbrewer.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/colorbrewer-1/colorbrewer.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/streamgraph-1/streamgraph.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/streamgraph-binding-0.8.1/streamgraph.js" | prepend: site.baseurl }}"></script>
